<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 错误页 | 猹flow</title>

    {% include "common/_heads.html" %}

<link href="/static/css/nifty.css" rel="stylesheet">


</head>

<body>
<div id="container" class="cls-container">

    <!-- HEADER -->
    <!--===================================================-->
    <div class="cls-header">
        <div class="cls-brand">
            <a class="box-inline" href="{% url 'dashboard' %}">
                <span class="brand-title">Cha<span class="text-thin">&nbsp;&nbsp;流程系统</span></span>
            </a>
        </div>
    </div>

    <!-- CONTENT -->
    <!--===================================================-->
    <div class="cls-content">
        <h1 class="error-code text-primary">500</h1>
        <p class="text-main text-semibold text-lg text-uppercase">Internal Server Error!</p>
        <div class="pad-btm text-muted">
            服务器提了一个问题，我们正在紧急回答
        </div>
        <hr class="new-section-sm bord-no">
        <div class="pad-top"><a class="btn-link" href="{% url 'dashboard' %}">返回首页</a></div>
    </div>


</div>
<!--===================================================-->
<!-- END OF CONTAINER -->


</body>
</html>
